.container {
  width: 60%;
  margin-top: 2rem;
}
body {
  background-color: antiquewhite;
}
label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
.btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
.tablecontainer {
    margin-top: 50px;
    margin-left: 20rem;
    border: 2px solid;
    width: fit-content;
}
.tablecontainer table thead tr th {
    min-width: 200px;
    padding: 7px;
  text-align: center;

}
tbody{
    font-weight: bold;
    text-align: center;
}
.tablecontainer table tbody tr td{
    border-bottom: 0.5px solid;
}
